@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /*width: 1148px;*/
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffff;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 0 50px;
    overflow: hidden;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 0 auto;
    
}

/*header*/

.navbar{
    background-color: black;
    color: white;
    font-size: 16px;
    height: 120px;
}

.navbar img{
    width: 150px;
    margin-top: 10px;
}

.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 100px;
}

.navbar li{
    margin-left: 20px;
    padding: 5px 20px;
}

.navbar li:hover{
    background-color: tomato;
    color: #ffff;
    border: #ffff;
    border-radius: 100px;
}

/*showcase*/
.showcase{
    height: 550px;
    background-color: black;
    color: #ffff;
    margin-top: -50px;
    margin-bottom: 30px;
    position: relative;
}

.showcase h1{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
}

.showcase p{
    margin-top: 10px;
    font-size: 1rem;
    margin-bottom: 40px;
}

.showcase img{
    width: 450px;
    height: 450px;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.showcase .btn{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: tomato;
    padding: 8px 15px;
    border: none;
    border-radius: 100px;
    
}

.showcase .btn:hover{
    background-color: #3333;
    color: #fff;
    border: 1px solid #fff ;
}

.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #ffff;
    transform: skewY(-3deg)
}

@media(max-width: 768px){
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .showcase{
        padding-top: 30px;
        text-align: center;
    }

    .showcase h1{
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .showcase p{
        font-size: 1rem;
    }

    .showcase img{
       width: 200px;
       height: 200px;
       margin: 0 auto;
    }
}

/*Price*/
.price{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: #311b92;
    margin-bottom: 10px;
}

.price p{
    font-size: 1rem;
    margin-bottom: 10px;
}

.search__wrap .input{
    border: 1px solid transparent;
    outline: none;
    color: black;
    font-size: 16px;
    box-shadow: 0 5px 25px rgb(0,0,0,0.5);
}

.search__wrap{
    width: 500px;
    margin: 30px auto;
}

.search__wrap .search__box{
    position: relative;
    width: 500px;
    height: 60px;
}

.search__wrap .search__box .input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 50px;
}

button{
    border: 1px solid transparent;
}

.search__wrap .search__box .btn__search{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    color: #ffff;
    font-size: 12px;
    text-transform: uppercase;
    background-color: tomato;
    z-index: 1;
    transition: transform 1000ms ease-in;
    border-radius: 50px;
}


.search__wrap .search__box .btn__search:hover,
.search__wrap .search__box .btn__search:focus{
    transform: scale(0.8);
}

.search__wrap .search__box .btn__search i{
    margin-right: 5px;
}

.price__list ul{
   width: 100%;
   margin: 50px auto;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   gap: 5px;
   list-style: none;
   justify-content: space-between;
}

.price__list li{
    font-size: 0.8rem;
    margin-left: 8px;
    font-weight: 900;
}

.price__list li:hover,
.price__list li:focus{
   background-color: rgb(129, 182, 216);
   color: #ffff;
   border: 1px solid transparent;
   border-radius: 100px;
}


@media(max-width : 768px){
.price h2{
    font-size: 1.4rem;
    font-weight: 900;
    color: #311b92;
    margin-bottom: 15px;
}

.price p{
    font-size: 0.9rem;
    margin-bottom: 15px;
    text-align: center;
}

.search__wrap .input{
    font-size: 0.9rem;
    margin: 0 -60px;
    margin-bottom: 20px;
}

.search__wrap{
    width: 100%;
    margin: 25px 0 100px;
}

.search__wrap .search__box{
    width: 100%;
    height: 60px;
}


.search__wrap .search__box .input{
    position: absolute;
    top: 0;
    left: 60px;
    width: 100%;
    height: 80%;
    padding: 10px 25px;
    border-radius: 90px;
}

.search__wrap .search__box .btn__search{
    position: absolute;
    top: 60px;
    right: 25px;
    width: 80%;
    height: 70%;
}

.price__list ul{
    width: 100%;
    margin: 50px 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    list-style: none;
 }

 .price__list li{
    font-size: 0.6rem;
    font-weight: bold;
    padding: 5px;
}

}

/*Price card*/
.price__card{
    position: relative;
    left: 10px;
    margin: 0 10px;
    margin-top: 60px;
    width: 100%;
}

.card{
    margin-top: 40px;
    width: 300px;
    height: 500px;
    margin-bottom: 60px;
    background-color: #fff;
    border : 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgb(0,0,0,0.3);
}

.card-2{
    position: relative;
    width: 300px;
    height: 600px;
    margin: 0 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border : 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgb(0,0,0,0.3);
}

.card__popular{
    padding: 10px;
    background-color: #0026ca;
    color: #fff;
    text-align: right;
}

.card__popular h5{
    padding: 10px 10px;
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #0e0968;
    border: 1px solid transparent;
    border-radius: 100px;
}

.card__header{
    position: relative;
    width: 100%;
    height: 200px;
    padding: 20px 30px;
    color: #fff;
}

.card-light{
    background-color: #00b0ff;
}

.card-2 .card-dark{
    background-color: #0026ca;
}

.card__header h5{
    font-size: 0.8rem;
    font-weight: 300;
    margin: 10px 0;
}

.card__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.card .price__tag{
    font-size: 2rem;
}

.card-2 .price__tag{
    font-size: 2rem;
}

.card .light-bg{
  background-color: #0a82b6;
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 0 20px;
  padding: 5px 0;
}


.card-2 .dark-bg{
    background-color: #0a00b6;
    border: 1px solid transparent;
    border-radius: 30px;
    margin: 0 30px;
    padding: 5px 10px;
}

.card p{
    margin-bottom: 10px;
}

.card__body{
    margin: 15px;
    padding: 20px  10px;
}

.card__body ul{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 30px;
   margin-bottom: 15px;
   list-style: none;
}

.card__body li{
    font-weight: 900;
    margin-bottom: 5px;
}

.card__body li::before{
    content: '\2713';
    color: #76ff03;
    margin-right: 10px;
}

.btn__card{
    cursor: pointer;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0026ca;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border : 2px solid darkblue;
    border-radius: 100px;
    padding: 10px 0;
    margin-left: 50px;

}

.btn-card-right{
    position: relative;
    left: 10px;
}

.btn__card:hover,
.btn__card:focus{
    transform: scale(0.9);
    background-color: #0026ca;
    color: #fff;
}

.card-2 .btn-dark{
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: darkblue;
    border : 2px solid darkblue;
    border-radius: 100px;
    padding: 10px 0;
    margin-left: 50px;
    left : 15px;
}

@media(max-width: 768px){
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        margin: auto;
    }
    

    .price__card{
        margin-top: 5px;
        width: 100%;
    }
    
    .card{
        margin-top: 30px;
        width: 250px;
        height: 500px;
        margin-left: -10px;
        margin-bottom: 60px;
    }
    
    .card-2{
        position: relative;
        width: 250px;
        height: 550px;
        margin-left: -10px;
    }

.card__popular{
    padding: 8px;
}

.card__popular h5{
    padding: 8px 10px;
    margin: 8px 0;
}

.card-2 .card__header{
    position: relative;
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    color: #fff;
}

.card__header h5{
    font-size: 0.8rem;
    font-weight: 300;
    margin: 10px 0;
}

.card__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.card-2 .card__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 5px;
}


.card .price__tag{
    font-size: 2rem;
}

.card-2 .price__tag{
    font-size: 2rem;
}

.card .light-bg{
  background-color: #0a82b6;
  font-size: 12px;
  border-radius: 20px;
  margin: 0 40px;
  padding: 5px 15px;
}


.card-2 .dark-bg{
    background-color: #0a00b6;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 30px;
    margin: 0 40px;
    padding: 5px 15px;
}

.card p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-2 p{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.card__body ul{
   margin-bottom: 15px;
   margin: 0 auto;
   margin-left: -10px;
   margin-bottom: 20px;
}

.card__body li{
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 10px;
}

.card-2 .card__body ul{
    margin-bottom: 15px;
    margin: 0 auto;
    margin-left: -10px;
    margin-bottom: 20px;
 }
 
 .card-2 .card__body li{
     font-size: 12px;
     font-weight: 900;
     margin-bottom: 10px;
 }

.btn__card{
    cursor: pointer;
    width: 90%;
    border-radius: 50px;
    padding: 8px 15px;
    margin-left: 10px;
    transition: transform;
}

.btn-card-right{
    position: relative;
    left: 8px;
}

.btn__card:hover,
.btn__card:focus{
    transform: scale(0.9);
    background-color: #0026ca;
    color: #fff;
}

.card-2 .btn-dark{
    position: relative;
    width: 100%;
    padding: 8px 15px;
    margin-left: -10px;
}
    
}

/*Cloud*/

/*Cloud title*/
.cloud{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.cloud h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 800;
    color: #311b92;
}

.cloud p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

@media(max-width: 768px){
    .cloud h2{
        font-size: 1.2rem;
    }
}

/*Grid*/
.cloud__box{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 70px;
}

hr{
    display: none;
}

.cloud__box img{  
 width: 600px;
 margin-right: 5px;
}

.cloud__box .icons{
    width: 50px;
    background-color: #e1f5fe;
    border-radius: 100px;
    padding: 10px;
}

.cloud__text h3{
    color: #311b92;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cloud__text p{
    text-align: left;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn__cloud{
    font-size: 1.1rem;
    color: #e53935;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.btn__cloud .fas{
    margin-left: 5px;
}

.btn__cloud .fa-arrow-right{
    margin-left: 5px;
    font-size: 1.3rem;

}

@media(max-width: 768px){
    .cloud__box{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 100%;
        margin: 0 auto;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    hr{
        display:block;
        border: 2 solid #0e0968;
    }

    .cloud__box img{  
        width: 350px;
        margin-left: -50px;
       }
       
       .cloud__box .icons{
           width: 50px;
           margin: 0 auto;
           background-color: #e1f5fe;
           border-radius: 100px;
           padding: 10px;
       }
       
       .cloud__text h3{
           color: #311b92;
           font-weight: 900;
           margin-top: 10px;
           margin-bottom: 10px;
       }
       
       .cloud__text p{
           font-size: 0.9rem;
           text-align: justify;
           font-weight: 300;
           margin-top: 10px;
           margin-bottom: 20px;
           margin-right: 50px;
       }
       
       .btn__cloud{
           font-size: 1rem;
           color: #e53935;
           font-weight: 800;
           text-decoration: none;
           text-transform: uppercase;
       }
       
       .btn__cloud .fas{
           margin-left: 5px;
       }
       
       .btn__cloud .fa-arrow-right{
           margin-left: 5px;
           font-size: 1rem;
       
       }
}












